{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {{ title }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- loading Bootsrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- my css -->
    <link href="{% static 'css/itemPage.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/mainPage.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/productsPage.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/addPage.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/slideShow.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/cart.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/profile.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/newProduct.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/addProduct.css' %}" rel="stylesheet"/>
    <link href="{% static 'fonts/font.css' %}" rel="stylesheet"/>

    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>


    {% block script %}
    {% endblock %}
    {% block script2 %}

    {% endblock %}

</head>

<body id="backgroundPageStyle">
<header class="navbar navbar-inverse navbar-fixed-top" role="banner" id="navigationbar">
    <div class="container">
        <!-- navebar -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-main-navbar-collapse">
                <span class="sr-only dropdownIcon">Toggle navigation</span>
                <span class="icon-bar dropdownIcon"></span>
                <span class="icon-bar dropdownIcon"></span>
                <span class="icon-bar dropdownIcon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'mainPage' %}" id="brandName">فروشگاه بابای حامد</a>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapsed" role="navigation">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-main-navbar-collapse">
                <!-- search -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle fa fa-ellipsis-v" data-toggle="dropdown" id="advanced-search-cats"></a>
                        <ul class="dropdown-menu" id="search-dropdown">
                            {% for cat in categories %}
                                {% if not cat.parent %}
                                    <li><a class="search-dropdown" href="#">{{ cat.name }}</a></li>
                                    {% for child in categories %}
                                        {% if child.parent_id == cat.id %}
                                            <li><a class="search-dropdown" href="#"> {{ child.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="divider"></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <form class="navbar-form navbar-left" role="search" action="{% url 'searchPage' %}" method="get" id="search-form">
                        <div class="input-group margin-bottom-sm" id="navbarForm">
                            <input type="text" class="form-control" placeholder="جستجو" id="search-text" name="search">
                        </div>
                    </form>
                    <li>
                        <a class="fa fa-search" id="advanced-search" data-toggle="modal" data-target="#searchModal"></a>
                    </li>
                </ul>
                <!-- /search -->
                <!-- categories -->
                <ul class="nav navbar-nav navbar-right" id="navbar">
                    {% for cat in categories %}
                        {% if not cat.parent_id %}
                            <li id="cat{{ cat.id }}" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ cat.name }}
                                    <b class="fa fa-caret-down"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for child in categories %}
                                        {% if child.parent_id == cat.id %}
                                            <li id="cat{{ child.id }}" class="dropdown">
                                                <a href="{% url 'productsPage' cat=child.id %}">
                                                    <!--"./..productsPage.html?cat='{{ child.id }}'"-->
                                                    {{ child.name }}
                                                </a>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            مدیریت
                            <b class="fa fa-caret-down"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                                <a href="{% url 'addItem' %}"> اضافه کردن محصول</a>
                            </li>
                            <li class="dropdown">
                                <a href="{% url 'transactionsPage' %}">ریز پرداخت‌ها</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'mainPage' %}"> صفحه اصلی </a>
                    </li>

                    <li>
                        {# check if a user is login#}
                        <a class="fa fa-user" id="signupin" data-toggle="modal" data-target="#signModal"></a>

                    </li>
                    <li>
                        <a href="{% url 'profilePage' %}" class="fa fa-sign-in" id="navProfile"></a>
                    </li>
                </ul>
                <!-- /categories -->
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /navbar -->
    </div>
</header>

<div class="container" id="pageData">
    {% block content %}
    {% endblock %}
</div>

<!-- Advanced Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">جستجو پیشرفته</h4>
            </div>
            <div class="modal-body">
                <!--............................insert data hear.............-->
                <form method="get" action="{% url 'searchPage' %}" dir="rtl" class="form-group" role="form">
                    <label class="form-group">
                        عبارت:
                    </label>
                    <input type="text" name="query" class="form-control">
                    <label class="form-group">
                        از تاریخ:
                    </label>
                    <input type="date" name="fromDate" class="form-control">
                    <label class="form-group">
                        تا تاریخ:
                    </label>
                    <input type="date" name="toDate" class="form-control">
                    <label class="form-group">
                        دسته‌بندی:
                    </label>
                    <select name="catId" class="form-control">
                        <option value="0" selected="selected">
                            همه
                        </option>

                        {% for cat in categories %}
                            {% if cat.parent %}
                                <option value="{{ cat.id }}">
                                    {{ cat.name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" value="جستجو" class="btn btn-personal form-control">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    بستن
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /Advanced Search Modal -->

<!-- Signup/in Modal -->
<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="signModalLabel">ورود / ثبت نام</h4>
            </div>
            <div class="modal-body signModalDiv">
                <div class="col-md-6">
                <!--............................insert data hear.............-->
                     <form method="post" action="#" dir="rtl" class="form-group" role="form">
                    <label class="form-group">
                        نام:
                    </label>
                    <input type="text" name="name" class="form-control">
                    <label class="form-group">
                        پست الکترونیک:
                    </label>
                    <input type="email" name="email" class="form-control">
                    <label class="form-group">
                        رمز عبور:
                    </label>
                    <input type="password" name="pass" class="form-control">
                    <label class="form-group">
                        تکرار رمز عبور:
                    </label>
                    <input type="password" name="repass" class="form-control">
                    <br>
                    <input type="submit" value="ثبت نام" class="btn btn-personal form-control">
                </form>
                </div>

                <div class="col-md-6">
                    <form method="post" action="#" dir="rtl" class="form-group" role="form">
                        <label class="form-group">
                            پست الکترونیک:
                        </label>
                        <input type="email" name="email" class="form-control">
                        <label class="form-group">
                            رمز عبور:
                        </label>
                        <input type="password" name="pass" class="form-control">
                        <br>
                        <input type="submit" value="ورود" class="btn btn-personal form-control">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    بستن
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /Signup/in Modal -->
<footer id="mainPageFooter">
    BabayeHamed.com - Copyright © 2013-2014 - All rights reserved.
</footer>
</body>
</html>
