{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}
    <script src="{% static 'js/editDetailPage.js' %}"></script>
{% endblock %}
{% comment %}
$("#form1").ajaxForm({
success : function(data, status, xhr) {
picID = data.picId;
picURL = data.picUrl;
console.log("=========================" + picID + "   " + picURL);
aks = document.getElementById("aks");
aks.src = picURL;
// alert("successssssssssssssssssssss");
}
});

$("#form1").submit(function(e) {
e.preventDefault();
});
{% endcomment %}


{% block content %}
    <div class="row">
        <div class="col-md-6 col-xs-12" id="pic">
            <img id="aks"/>
        </div>
        <div class="col-md-6 col-xs-12 row" id="man">
            <form id="productForm" method="post" action="{% url "addItem" %}" enctype="multipart/form-data">
                {{ form.as_p }}
                <input type="submit" id="addPro" class="col-md-12 col-xs-12 myform btn btn-success" value="ثبت محصول"/>

                {% comment %}<input type="text" placeholder="نام محصول" id="nameSelector" class="col-md-12 col-xs-12 myform" value="{{ product.name }}"/>
            <br>
            <input type="number" placeholder="قیمت محصول" id="gheymatSelector" class="col-md-12 col-xs-12 myform" value="{{ product.price }}"/>
            <br>
            <select id="catagorySelector" class="col-md-12 col-xs-12 myform">
                <option value="dif">
                    دسته‌بندی
                </option>

                {% for category in categories %}
                    {% if category.parent %}
                        <option value="{{ category.id }}" selected="{% if category.id == product.category %} selected {% endif %}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %}
                <br>
                <input type="number" class="col-md-12 col-xs-12 myform" placeholder="تعداد موجودی"  value="{{ product.number }}">
                <br>
                <textarea class="col-md-12 col-xs-12 myform text-info" placeholder="توضیحات" rows="10" dir="rtl">{{ product.others }}</textarea>
            </select>
                <input type="submit" id="addPro" class="col-md-12 col-xs-12 myform btn btn-success" value="ثبت محصول"/>

                <input type="file" name="image" class="col-md-12 col-xs-12 myform"/>
                <br>

{% endcomment %}
            </form>
        </div>
    </div>
{% endblock %}