{%  extends 'baseCart.html' %}
{% load staticfiles %}

{% block script2 %}
    <script src="{% static 'js/itemPage.js' %}"></script>
{% endblock %}

{% block main-content %}
    <!-- item info -->
    <div class="col-xs-12 col-md-6 row">
        <div class="row col-md-12 col-xs-12">
            <div class="col-md-8 col-xs-8" id="info">
                <ul id="attr_list">

                </ul>
            </div>

            <div class="row col-md-4 col-xs-4" id="picture">
                <img id= "ProductPic"  class="col-md-12 col-xs-12" data-toggle="modal" data-target="#myModal"/>
                <button id="addItem" type="button" class="btn btn-success col-md-12 col-xs-12">
                انتخاب
                </button>
                <a id="editItemButtonLink">
                    <button id="editItemButton" type="button" class="btn btn-success col-md-12 col-xs-12">تغییر مشخصات</button>
                </a>
            </div>
        </div>

        <div class="row col-md-12 col-xs-12" id="comments"></div>
        <div class="row col-md-12 col-xs-12" id="comments2"></div>
    </div>
    <!-- /item info -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">تصویر محصول</h4>
                </div>
                <div class="modal-body">
                    <img id="ModalImage" class="col-md-12 col-xs-12" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{%  endblock %}