{% extends "baseCart.html" %}

{% block main-content %}
    <section class="row col-xs-12 col-md-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="{% url 'itemPage' ProID=slideShowInfo.0.1 %}"> <img class="slideShowItem" src="{{ slideShowInfo.0.0}}" alt=""> <div class="carousel-caption"></div> </a>
                </div>

                <div class="item">
                    <a href="{% url 'itemPage' ProID=slideShowInfo.1.1 %}"> <img class="slideShowItem" src="{{ slideShowInfo.1.0 }}" alt=""> <div class="carousel-caption"></div> </a>
                </div>

                <div class="item">
                    <a href="{% url 'itemPage' ProID=slideShowInfo.2.1 %}"> <img class="slideShowItem" src="{{ slideShowInfo.2.0 }}" alt=""> <div class="carousel-caption"></div> </a>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>
    </section>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="row col-md-3" id="newProduct">
            adasdasdasd<br>
            asdasdasd<br>
            asdasdasda<br>
            dadasdasd<br>
            asdasd<br>
            adasdasdasd<br>
            asdasdasd<br>
            asdasdasda<br>
            dadasdasd<br>
            asdasd<br>
            adasdasdasd<br>
            asdasdasd<br>
            asdasdasda<br>
            dadasdasd<br>
            asdasd<br>
            adasdasdasd<br>
            asdasdasd<br>
            asdasdasda<br>
            dadasdasd<br>
            asdasd<br>
        </div>
        <div class="row col-xs-12 col-md-9" id="recommended">
            <h1 dir="rtl" class="title">پیشنهاد ما</h1>
            {% for product in RecommandProducts %}
                <div class="productDiv col-md-2 col-sm-6 col-xs-6">
                    <a href="{% url 'itemPage' ProID=product.id %}" >
                        <img src="{{ product.picture.url     }}">
                    </a>
                    <div class="caption">
                        نام: {{ product.name }}
                        <br>
                        قیمت: {{ product.price }}
                    </div>

                    <button class='buying btn btn-success col-md-12 col-xs-12'>خرید </button>
                </div>
            {% endfor %}
        </div>

        <div class="row col-xs-12 col-md-9" id="popular">
            <h1 dir="rtl" class="title">محبوب‌ترین‌ها</h1>

            {% for product in BestProducts %}
                <div class="productDiv col-md-2 col-sm-6 col-xs-6">
                    <a href="{% url 'itemPage' ProID=product.id %}" >
                        <img src="{{ product.picture.url }}">
                    </a>
                    <div class="caption">
                        نام: {{ product.name }}
                        <br>
                        قیمت: {{ product.price }}
                    </div>

                    <button class='buying btn btn-success col-md-12 col-xs-12'>خرید </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}