{% extends "baseCart.html" %}
{% load staticfiles %}

{% block script2 %}
    <script src="{% static 'js/productsPage.js' %}"></script>
{% endblock %}

{% block page-content %}
    <!-- products -->
    <div class="col-xs-12 col-md-8">

        <!-- title -->
        <div id="title-div">
            <h1 id="title"></h1>
        </div>
        <!-- /title -->

        <!-- results -->
        <div id="proDiv" class="row" ></div>
        <!-- /results -->

        <!-- pagination -->
        <div class="col-xs-12 col-md-12" id="pagination">
            <ul class="pagination" id="paginator">

            </ul>
        </div>
        <!-- /pagination -->
    </div>
    <!-- /products -->
{% endblock %}