.row {
    margin: 0;
}

#recommended div img {
    width: 100px;
    height: 100px;
}

#popular div img {
    width: 100px;
    height: 100px;
}

#recommended {
    font-family: "WMitra", serif;
    border: solid 1px;
    border-color: #ff6600;
}

#popular {
    font-family: "wmitra", serif;
    border: solid 1px;
    border-color: #ff6600;
}

.title {
    font-family: "WMitra", serif;
}

