.row {
	margin: 0;
}

#proDiv {
	background-color: #f8f8f8;
}

#proDiv div img {

	width: 100px;
	height: 100px;
}

.caption {
	text-align: center;
    height: 100px;
}

.productDiv {
	border-style: solid;
	border-color: #f1f1f1;
	text-align: center;
	padding: 10px;
}

#container {
	margin-left: auto;
	margin-right: auto;
}

#pagination {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#productTable td {
	text-align: center;
	/*margin-right: 20px;  */
}

.remove {
	height: 30px;
	width: 30px;
}

.picpic {
	height: 50px;
	width: 50px;
}

#totalAmount {
	border-style: solid;
	border-color: #f1f1f1;
	background-color: #f8f8f8;
}

#totalPrice {
	border-style: solid;
	border-color: #f1f1f1;
	background-color: #f8f8f8;
}

#title-div{
	text-align: center;
}
